<%= form_for Paper.new do |f| %>

	<div class="form-group">
    <%= f.label :title, 'Name it' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

	<div class="form-group">
    <%= f.label :body, 'Post' %>
    <%= f.text_area :body, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>